/* css styles */

* {
	margin: 0;
	padding: 0;
}

page-layout-custom{
        padding-left:100px;
        padding-right: 100px;
}

html, body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}


/* Navigation and website title header */
header.header{
  position: absolute;
  right: 0;
  left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
}
.top p{ /* Website title to left*/
  float: left;
  font-size: 20px;
  text-align: center;
  padding: 5px;
}
/* Right-aligned navigation */
.topnav-right{ /* Align navigation to right*/
  float: right;
  overflow: hidden;
  text-align:center;
  padding: 5px;
  background-color: white;
}
.topnav-right a{ /* Style navigation link*/
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 20px;
  color: grey;
}
.topnav-right a:hover{ /* Change color of links on hover */
  color: black;
}
/* Style the hamburger menu */
.topnav-right .icon {
  display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 740px) {
  .topnav-right a {
    display: none;
  } 
  .topnav-right a.icon {
    float: right;
    display: block;
  }
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 680px) {
  .topnav-right.responsive {position: relative;}
  .topnav-right.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }
  .topnav-right.responsive a {
    float: none;
    display: block;
    text-align: left;
    position: relative;
    z-index: 2;
    background-color: white;
  }
}

/* Button formatting */
button {
  background-color: black; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

/* Horizontal divisions */
hr.headerline{
  position: absolute;
  right: 0;
  left: 0;
  margin-top: 40px;
  border: solid gainsboro 0.5px;
}
hr.division{
	border: solid gainsboro 0.5px;
	margin-top: 15px;
	margin-bottom: 15px;
}
hr.whitespace{
  margin-top: 14px;
  margin-bottom: 0px;
  border: solid white 1px;
}
hr.smallwhitespace{
    margin-top: 4px;
  margin-bottom: 0px;
  border: solid white 1px;
}


/* Page title */
h1.extraspace{
  margin-top: 80px;
  margin-bottom: 40px;
}
/* Blog title */
h1.extraspaceblog{
  margin-top: 80px;
  margin-bottom: 10px;
}

/* Hidden text */
#hiddenText{
  color: grey;
}

/* Images */
img.rotateimg180 {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}


#container {
	min-height: 100%;
	margin-left: 5%;
	margin-right: 5%;
}
#containerblog  {
  min-height: 100%;
  margin-left: 5%;
  margin-right: 150px;
}

#main {
	overflow: auto;
	padding-bottom: 100px;
}

#footers {
	background-color: #000;
	height: 100px;
	margin-top: 0px;
	background-color: black;
	text-align: center;
	color: white;
	font-size: 75%;
	clear: both;
	position:relative;
	
}
#footer {
  position: relative;
  text-align:center;
  color:white;
  font-size:75%;
  margin-left:-20vw;
}

.box {
        width: 120vw; 
	height: 100px; 
	border: 1px black; 
        background: black; 
        bottom:0;
} 


/* -------- Blog posts -------- */
/* Blog navigation setup */
.blognav{
  position: absolute;
  right: 20px;
  overflow: hidden;
  text-align: center;
  background-color: white; /* Change this to troubleshoot position */
  color: black;
  padding:0px;
  z-index: 1;
  margin-left: 100px;
}
.blognav a { /* Style navigation link*/
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  padding:0px;
}
.blognav a:hover{ /* Change color of links on hover */
  color: grey;
}
.blognav p{
  font-size: 20px;
  font-weight: bold;
}

/* All blog pages */
.blogtitle{
  font-size: 25px;  
}
.publishdate{
  font-size:12.8px;  
  vertical-align: middle; 
  color: grey;
}

/* Code format */
code.Rcode{

}
.Rcode q {
  color:red;
}
.Rcode p {
  background-color: whitesmoke;
  border: 0.5px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
}
.Rcode span.tab { /* indent code*/
  margin-left: 15px;
}
.Rcode span.tab2 { /* indent code*/
  margin-left: 30px;
}
.Rcode span.c { /* comments colored */
  color: grey;
} 
.Rcode span.n { /* numbers colored */
  color: steelblue;
}
span.f { /* function name within text colored */
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 2px;
  font-family: monospace;
}
.Console p {
  background-color: white;
  border: 0.5px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
}
